/*GLOBAL STYLES*/

/*
Primary color:
Secondary color:
Third Color:
*/
body{
  height:auto;
  width: auto;
  margin: 0px;
  padding: 0px;
  font-family: verdana, geneva, sans-serif;
  background-image: url(../img/valley.jpg);
  color: black;
  }


h1, h2, h3,{
  margin: 0px;
}

a{
  text-decoration: none;
  color: #333333;
}

ul{
  list-style-type: none;
}

/*HEADER STYLES*/
header{
  height: 200px;
  width: auto;
  background-color: #00bfff;
  text-align: left;
  border-style: solid;
  border-width: thin;
}

#logo{
  width: 100%;
  position: absolute;
  top: 35px;
  left: 100px;
}

#logo h1:hover{
  color: silver;
}

#menu{
  position: fixed;
  top: 35px;
  right: 100px;
  float: right;
}

#menu ul{
  display: inline-block;
}

#menu li{
  display: block;
}

#menu li{
  display: block;
  float: left;
}

#menu li:after{
  padding: 0p 10px;
  content: " | ";
}

#menu a:hover{
  color: silver;
}

/*BANNER STYLES*/

.sc {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: #778899;
  margin-top: 0px;
  border-style: solid;
  border-bottom-width: thin;
  border-top: none;
  padding-top: 60px;
  }



.button{
  box-shadow: 20px;
  border-style: solid;
  border-width: thin;
  margin: auto;
}


#banner-home {
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: #778899;
  margin-top: 0px;
  border-style: solid;
  border-bottom-width: thin;
  border-top: none;
}


  /*Blog Styles*/


.about-us{
  height: auto;
  width: 100%;
  overflow: hidden;
  color: black;
  padding: 10px;
  background-color: #778899;
}

.foot{
  color: black;
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
  background-color: #778899;
}

.blog-1, .blog-2, .blog-3 {
  float: left;
  width: 300px;
  height: auto;
  padding: 10px;
  margin-left: 115px;
  border-radius: 18px;
  border-style: solid;
  border-width: thin;
}

.container{
  width: auto;
  margin: 0px auto;
  overflow: hidden;
}

.cl{
  height: 300px;
  width: 300px;
}

.blog-1 {
  background-color: #778899;
  background-size: cover;
  color: black;
}

.blog-2 {
  background-color: #778899;
  background-size: cover;
  color: black;
}


.blog-3 {
  background-color: #778899;
  background-size: cover;
  color: black;
}

.blog-image {
  width: 350px;
  height: 200px;
}

#foot{
  text-align: center;
  color: black;
  background-color: #778899;
  width: 100%;
  margin: 0px auto;
}

.au{
  text-align: center;
  margin-bottom: 0px;
  background-color: #778899;
  clear: left;
}

#us {
  text-align: center;
  height: 200px;
  width: 100%;
  margin: 0px;
  background-color: #778899;
  border: 2px solid black;
  border-radius: 4px;

}

.blog {
  text-align: left;
  margin: 10px;
}

.button{
  padding: 15px 35px;
  background-color: silver;
  border-radius: 8px;
  display: inline-block;
  font-weight: 700;
  margin: 10px 0px;
  box-shadow: 20px;
  text-align: center;
}

.button:hover{
  color: white;
  background-color: black;
}

img {
  opacity: .04;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
